body {
  margin: 2%;
  background-color: rgb(28, 28, 28);
  color: white;
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@font-face {
  font-family: 'Herculanum';
  src: url('./assets/Herculanum/Herculanum.ttf');
  src: url('./assets/Herculanum/Herculanum.eot?#iefix') format('embedded-opentype'),
      url('./assets/Herculanum/Herculanum.woff2') format('woff2'),
      url('./assets/Herculanum/Herculanum.woff') format('woff'),
      url('./assets/Herculanum/Herculanum.ttf') format('truetype'),
      url('./assets/Herculanum/Herculanum.svg#Herculanum') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Fader component CSS */
.coverContainer {
  background-color: black;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 100%;
  display: flex;
  align-items: center;
}

.coverImg {
  height: auto;
  width: 100%;
}

#fade-out {
  opacity: 0;
  transition: 
    opacity 3s ease 1s,
    z-index 0s ease 4s;
  z-index: -1;
}
/* End Fader CSS */

.heading {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 2rem;
  align-items: center;
}

.header-logo {
  max-width: 400px;
  border-radius: 10%;
  box-shadow: 0px 0px 15px black;
  justify-self: start;
}

.header-logo:hover {
  box-shadow: 0 0 15px black inset;
}

.social-box {
  justify-self: end;
  grid-column: 3;
}

i {
  margin: 0 1rem;
}

i:hover {
  box-shadow: 0 0 20px 3px rgb(225, 175, 26);
  height: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 2rem 12rem ;
}

#navlink {
  display: flex;
  text-align: center;
  border-bottom-style: solid;
  border-width: 1px;
  padding-bottom: 2px;
  margin: .2rem .3rem;
  text-shadow: 2px;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:hover {
  color:rgb(225, 175, 26)
}

.intro-box {
  display: flex;
  align-items: center;
  line-height: 1.8;
  background-color: black;
  border-radius: 10px;
  margin: 2rem 10rem;
}

.portrait {
  margin: 2rem;
}

#intro-portrait {
  height: auto;
  max-height: 800px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.photo-link {
  text-decoration: underline;
}

.intro-text {
  margin: 2rem
}

h1 {
  margin: 2rem 0;
  background-color: rgb(28, 28, 28);
  color: rgb(225, 175, 26);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.7rem;
  width: 100%;
  font-family: 'Herculanum';
}

.name-wrapper {
  background: linear-gradient(to right, rgb(28, 28, 28), rgb(225, 175, 26), rgb(28, 28, 28));
  height: 3.3rem;
  margin: 0 20% 0 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  background-color: rgb(28, 28, 28);
  color:rgb(225, 175, 26);
  width: 100%;
  height: 2.5rem;
  font-family: 'Herculanum';
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-wrapper {
  background: linear-gradient(to right, rgb(28, 28, 28), rgb(225, 175, 26), rgb(28, 28, 28));
  height: 2.8rem;
  margin: 0 20% 0 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#highlight-box {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#hl-item {
  width: 100%;
  max-height: 16rem;
  max-width: 12rem;
  border-radius: 1%;
}

#hl-item:hover {
  opacity: 20%;
  transition: .4s;
}

h4 {
  text-align: center;
}

.book-container {
  position: relative;
  margin: 1rem;
  text-align: center;
  
}

#book-preview-link {
  font-weight: 600;
  font-size: large;
  z-index: -1;
  display: flex;
  position: absolute;
  top: 30%;
  left: 26%;
  width: 50%;
}

h3 {
  text-align: center;
  margin: 1.5rem
}

#quote {
  font-style: italic;
  font-size: larger;
  margin: 0 0 2rem 0;
}

.message-form {
  text-align: center;
  margin: 0 10rem;
  /* width: auto; */
}

#contact-form {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.message-sent {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}

#name-box {
  display: flex;
  gap: 5rem
}

input {
  border-color: rgb(225, 175, 26);
  border-radius: 2px;
}

label {
  margin: 4px 0
}

#name-input {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#submit-button {
  margin: 2% 0 0 0;
  padding: 2%;
  background-color: rgb(45, 45, 45);
  color: rgb(225, 175, 26);
  box-shadow: 0px 0px 8px rgb(225, 175, 26);
}

/* Preview page-specific */

#drop-wrapper {
  justify-self: end;
  margin: 1rem .5rem 0 .5rem;
}

#drop-button {
  background-color: rgb(45, 45, 45);
  border: 2px solid rgb(225, 175, 26);
  color: rgb(225, 175, 26);
  border-radius: 10%;
  padding: .5rem;
  width: 4rem
}

#drop-button:hover {
  box-shadow: 0 0 5px rgb(225, 175, 26);
}

.download {
  color: rgb(225, 175, 26);
  margin-bottom: 2rem;
}

.paragraph {
  margin: 2rem 12rem;
  font-size: large;
  text-align: justify;
}

.ital {
  font-style: italic;
}

.scroll-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}

iframe {
  width: 90%;
  height: 800px;
  border: none;
}

#shirt {
  width: 20%;
  height: auto
}

/* End preview-specific */

/* Photo page */
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 1100px;
  min-width: 950px;
  justify-content: space-evenly;
}

.photo-cont {
  max-width: 500px;
}

.gallery-photo {
  position: relative;
  border: 3px solid rgb(225, 175, 26);
}

#sepia-photo {
  width: 350px;
  top: 5%;
  left: 12%;
}

#leaning-photo {
  width: 400px;
  left: 2%;
  top: 3%
}

#noglasses-photo {
  width: 400px;
  top: -15%;
}

#child-photo {
  width: 300px;
  top: 15%;
  right: 7%
}

@media (max-width: 1000px) {
  .gallery {
    flex-direction: column;
    min-width: 0;
    align-items: center;
  }

  .gallery-photo {
    position: inherit;
    margin: 1rem;
    width: 100%;
    height: auto;
  }

  #sepia-photo {
    width: 100%;
    height: auto;
    max-width: 350px;
  }

  #leaning-photo {
    width: 100%;
    height: auto;
    max-width: 400px;
  }

  #noglasses-photo {
    width: 100%;
    height: auto;
    max-width: 400px;
  }

  #child-photo {
    width: 100%;
    height: auto;
    max-width: 300px;
  }
}
/* End photo page */

footer {
  margin: 1rem;
  color: rgb(163, 163, 163);
}

@media (max-width: 1200px) {
  .paragraph {
    margin: 2rem 6rem
  }

  nav {
    margin: 2rem 6rem
  }

  .intro-box {
    margin: 2rem 6rem
  }

  .message-form {
    margin: 0 6rem
  }

  #shirt {
    width: 25%;
  }
}

@media (max-width: 900px) {
  .intro-box {
    flex-direction: column;
  }

  .portrait {
    margin-bottom: 0;
  }

  #intro-portrait {
    max-height: 250px;
  }

  .intro-text {
    margin: .5rem
  }

}

@media (max-width: 700px) {
  #drop-button {
    display: inline-block;
    margin-top: 1rem;
  }

  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .social-box {
    margin-top: 2rem
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .intro-box {
    justify-content: space-between;
    padding: 1rem
  }

  .portrait {
    margin: 1rem;
  }

  .paragraph {
    margin: 2rem 3rem
  }

  #name-box {
    gap: 0
  }

  #shirt {
    width: 40%;
  }
}

@media (max-width: 500px) {
  h1 {
    height: 4.2rem
  }

  .name-wrapper {
    height: 4.8rem;
  }

  .intro-box {
    margin: 2rem 2rem
  }

  .message-form {
    margin: 0 2rem
  }

  .header-logo {
    width: 100%;
    max-width: 275px;
  }

  iframe {
    display: none;
  }

  .gallery-photo {
    margin: 1rem 0;
  }

  #shirt {
    width: 50%;
  }
}